{% extends 'settings.html' %}

{% block settings_title %} Account Data {% endblock %}

{% block settings_content %} 
<div class="settings-container">
    <!-- Username Form -->
    <div class="form-section">
        <h2>Update Username</h2>
        <form id="username-form" class="form-container" action="/accounts/username/" method="POST" data-message-box="username-message-box" autocomplete="off">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" placeholder="{{ current_username }}" required>
            <input type="submit" value="Update Username">
        </form>
        <div id="username-message-box" class="message-box"></div>
    </div>

    <!-- Password Form -->
    <div class="form-section">
        <h2>Change Password</h2>
        <form id="password-form" class="form-container" action="/accounts/password/" method="POST" data-message-box="password-message-box" autocomplete="off">
            <label for="new-password">New Password:</label>
            <div class="password-wrapper">
                <input type="password" id="new-password" name="password" required>
                <button type="button" id="toggle-password" class="toggle-button">Show</button>
            </div>
            <input type="submit" value="Change Password">
        </form>
        <div id="password-message-box" class="message-box"></div>
    </div>
</div>
{% endblock %}