{% extends 'base.html' %}

{% block title %}That's It - Settings{% endblock %}

{% block head %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'settings_table.css' %}">
{% endblock %}

{% block body %}
<div class="table-container">
    <!-- Left Column (Menu) -->
    <div class="left-column">
      <div class="menu-wrapper">
        <div class="menu-item"><a href="/settings/account-data/">Account Data</a></div>
        <div class="menu-item"><a href="/settings/profile-data/">Profile Data</a></div>
        <div class="menu-item"><a href="/settings/profile-images/">Profile Images</a></div>
        <div id="logout-btn" class="menu-item logout-button">Log out</div> <!-- Log out button with a different class -->
        <!-- Blank space that stretches the remaining height -->
        <div class="blank-space"></div>
      </div>
    </div>
    
    <!-- Right Column (Content) -->
    <div class="right-column">
      <!-- Title Row -->
      <div class="title-row">{% block settings_title %} {% endblock %}</div>
      
      <!-- Content Row -->
      <div class="content-row">
        {% block settings_content %} {% endblock %}
      </div>
    </div>
</div>

{% load static %}
<script src="{% static 'settings_logout_btn.js' %}"></script>
<script src="{% static 'settings.js' %}"></script>
{% endblock %}
